<!-- start custom head snippets -->

<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700' rel='stylesheet' type='text/css'>

<script src="/assets/js/super-search.js"></script>

<div class="super-search" id="js-super-search">
  <a href="javascript:void(0)" onclick="superSearch.toggle()" class="super-search__close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
  <input type="text" placeholder="Search..." class="super-search__input" id="js-super-search__input">
  <ul class="super-search__results" id="js-super-search__results"></ul>
</div>

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/manifest.json">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#781c1c">

<!-- <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.png" > -->

<style>
  /* super-search
  Author: Kushagra Gour (http://kushagragour.in)
  MIT Licensed
  */
  .super-search-btn {
    position: fixed;
    right: 10px;
    top: 15px;
    fill: #DDD;
  }
  .super-search-btn:hover {
    fill: #BBB;
  }
  
  .super-search {
    position: fixed;
    background-color: rgba(74,109,29,0.85);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
    transition: 0.2s ease;
    visibility: hidden;
    opacity: 0;
  }
  .super-search__close-btn {
    fill: #DDD;
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1;
  }
  .super-search__input {
    border: 0;
    font-family: "Century Gothic",sans-serif;
    font-size: 50px;
    border-left: none;
    border-right: none;
    color: #999;
    width: 100%;
    padding: 10px 31px;
    text-align: center;
    transform: translateY(-100%);
    transition: 0.15s ease-out 150ms;
  }
  .is-active .super-search__input {
    transform: translateY(0);
  }
  .super-search__results {
    text-align: center;
    list-style: none;
    padding: 0;
    overflow-x: hidden;
    height: calc(100% - 110px);
    transition: 0.2s ease;
  }
  .super-search__results.is-hidden {
    opacity: 0;
    transform: translateY(-1vh);
  }
  
  .super-search__results > li > a {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    color: #666;
    padding: 17px;
    margin: 12px 14px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
  }
  .super-search__result-date {
    display: none;
    color: #BBB;
    position: absolute;
    right: 12px;
  }
  .super-search.is-active {
    opacity: 1;
    visibility: visible;
  }
  </style>
  

<!-- end custom head snippets -->