---
layout: archive
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

<div class="tiles cf">
{% for post in paginator.posts %}
  {% include archive-single.html type="grid" %}
{% endfor %}
</div>

<h3 class="archive__subtitle cf">{{ site.data.ui-text[site.locale].tags_label | remove: ":" }}</h3>

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  {% assign tags = site_tags | split:',' | sort %}
  {% include tagcloud.html %}
